@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('./colors.css');

body {
    background-color: #171414;
}

.profile-image {
    width: 300px;
    height: 300px;
}

.profile-image:hover{
    border: 1.5px solid #ffffff;
}

.profile-link {
    text-decoration: none;
}

.white-color {
    color: var(--withe-color);
}

.alpha-background {
    background-color: var(--alpha-background);
    color: var(--withe-color);
}

.title-font {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
}

.div-button-play {
    width: 150px;
    height: 35px;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
}

.black-text {
    color: var(--black-color);
    text-decoration: none;
}

.text-justify {
    text-align: justify;
}

.img-movie {
    width: 18rem;
}

#sinopsis {
    width: 30rem;
}

#movies {
    background-color: #171414;
}

#play-icon {
    width: 20px;
    height: 20px;
}


#banner {
    background-image: url('./../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
}

#title-index {
    color: #fff;
    font-size: 47.75px;
    font-family: 'Roboto', sans-serif;
}

#admin-profile-button {
    background-color: #17141400;
    color: #808080;
    width: 200px;
    height: 50px;
    border: .5px solid #808080;
}

#admin-profile-button:hover {
    color: #ffffff;
    border: .5px solid #ffffff;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .text-font {
        font-size: 12px;
    }

    .title-font {
        font-size: 40px;
    }

    #sinopsis {
        width: 20rem;
    }

    .img-movie {
        width: 10rem;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .text-font {
        font-size: 12px;
    }

    .title-font {
        font-size: 40px;
    }

    #sinopsis {
        width: 20rem;
    }

    .img-movie {
        width: 10rem;
    }
}

@media (min-width: 375px) and (max-width: 576px) {
    .text-font {
        font-size: 12px;
    }

    .title-font {
        font-size: 30px;
    }

    .div-button-play {
        width: 100px;
        height: 15px;
        background-color: #FFFFFF;
        cursor: pointer;
        border-radius: 5px;
    }

    .black-text {
        font-size: 10px;
    }
    
    #sinopsis {
        width: 20rem;
    }

    .img-movie {
        width: 10rem;
    }

    #play-icon {
        width: 10px;
        height: 10px;
    }
}